@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

body {
  background: rgb(244, 244, 247);
  background: linear-gradient(
    90deg,
    rgb(196, 181, 173) 0%,
    rgb(255, 255, 255) 100%
  );
}

h1 {
  font-size: 4em;
  padding-left: 0.5em;
}

.sideL {
  width: 60%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
}

.sideR {
  width: 20%;
  padding-left: 1em;
  padding-right: 1em;

  float: right;
  background-color: rgb(230, 221, 202);
}

.heroImage {
  width: 100%;
}

header {
  font-family: jaro;
  font-style: italic;
  color: rgb(47, 92, 47);
}

h2 {
  font-family: jaro;
  color: rgb(47, 92, 47);
}

.minigallery {
  font-family: jaro;
  color: rgb(47, 92, 47);
  font-size: large;

  padding-left: 15px;
  margin-left: 15px;
  float: inline-start;
}
